<h1 align="center">Suggestion Form</h1>
<div id="container">
	<%= render 'form', suggest: @suggest %>
</div>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= link_to 'Back', suggests_path, class:"btn btn-default" %>
<br><br>