<div class="content" onload="current()">
	<div class="container" style="margin-left:50px; width: 1200px;">
		<%= render('widgetnav') %>
	</div>
	<div id="result">
	</div>
	<div id="post" style="margin-left:100px; margin-right: 100px;">
		<%= render('post') %>
		<hr>
	</div>	
</div>