<div class="content" onload="current()">
		<%= render('widgetnav') %>
	<div id="result">
	</div>
	<div id="post" style="margin-left:100px; margin-right: 100px;">
		<%= render('post') %>
		<hr>
		<a class="twitter-timeline" data-width="1200" data-height="1000" data-theme="light" href="https://twitter.com/eventsmalaysia">Tweets by eventsmalaysia</a>
		<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
	</div>	
</div>