.dates{
	margin: 20px;
	text-align: center;
	border: 1px solid;
	border-color: #dcdee2;
	button {
	}
}
.month {
	#monthname{
		width: 50px;
		display: inline-block;
		border-radius: 3px;
	}

	#year{
		background-color: white;
	}

	display: inline-block;
	button{
		.back{
			float: left;
		}
		.forward {
			float: right;
		}
	}
}

#calendar {
	visibility: hidden;
}

.days{
	.btn btn-default {
		width: 5px;
		height: 10px;
		margin: 3px;
	}
}

.smallnav{
	background-color: white;
	width: 100%;
	padding: 0.15%;
	ul {
		width: 100%;
		border: 1px;
		height: 30px;
	    list-style-type: none;
	    margin: 0;
	    padding: 0;
	    li{
	    	float: left;
	    	background-color: #212427;
	    	text-align: center;
			border-right: 1px solid;
			border-left: 1px solid;
			border-color: white;
			display: inline-block;
			width: 200px;
			height: 28px;
			a {
				display: block;
    			width: 100%;
    			color :white;
    			margin-top: 4px;
			}
			
			&:hover {
			    background-color: white;
			    color: white;
				border-bottom: 1px solid;
			    box-shadow: 0px -2px 1px #c6c6c6;
			    a {
    				color :white;
					&:hover {
						background-color: white;
						color: black;
					}
				}
			}
		}
		.active {
			background-color: white;
		    color: #FFFFFF;
		    box-shadow: 0px -2px 1px #c6c6c6;
		    a {
				color :black;
			}
		}
	}
}
#line{
	background-color: white;
	border-right: 1px;
	border-bottom: 1px solid;
	border-left: 1px solid;
	border-color: gray;
	display: inline-block;
	width: 850px;
	height: 28px;
	&:hover{
		background-color: white;
		color: white;
		box-shadow: none;
	}
}